.Title-Black {
  font-size: 34px;
  font-weight: 500;
  line-height: 1.06;
  color: var(--black);
}

.Title-White {
  font-size: 34px;
  font-weight: 500;
  line-height: 1.06;
  color: var(--white);
}

.Subtitle-Primary {
  font-size: 24px;
  font-weight: 600;
  line-height: 0.67;
  text-align: center;
  color: var(--primary);
}

.Subtitle-Black {
  font-size: 24px;
  font-weight: 500;
  line-height: 0.67;
  color: var(--black);
}

.Default-Primary-Bold-Default {
  font-size: 16px;
  font-weight: bold;
  line-height: 1;
  color: var(--primary);
}

.Default-Primary-Bold-Center {
  font-size: 16px;
  font-weight: bold;
  line-height: 1;
  text-align: center;
  color: var(--primary);
}

.Default-Secondary-Center {
  font-size: 16px;
  font-weight: 500;
  line-height: 1;
  text-align: center;
  color: #fe6073;
}

.Paragraph-Gray {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  color: rgba(29, 29, 29, 0.5);
}

.Default-Secondary {
  font-size: 16px;
  font-weight: 500;
  line-height: 1;
  color: #fe6073;
}

.Default-Primary {
  font-size: 16px;
  font-weight: 500;
  line-height: 1;
  color: var(--primary);
}

.Default-Gray-Center {
  font-size: 16px;
  font-weight: normal;
  line-height: 1;
  text-align: center;
  color: rgba(29, 29, 29, 0.5);
}

.Default-Gray {
  font-size: 16px;
  font-weight: normal;
  line-height: 1;
  color: rgba(29, 29, 29, 0.5);
}

.Default-Primary-Center {
  font-size: 16px;
  font-weight: normal;
  line-height: 1;
  text-align: center;
  color: var(--primary);
}

.Default-White-Center {
  font-size: 16px;
  font-weight: normal;
  line-height: 1;
  text-align: center;
  color: var(--white);
}

.Default-White {
  font-size: 16px;
  font-weight: normal;
  line-height: 1;
  color: var(--white);
}

.Default-Black {
  font-size: 16px;
  font-weight: normal;
  line-height: 1;
  color: var(--black);
}

.Default-Empty {
  font-size: 14px;
  font-weight: 500;
  color: #fe6073;
}

.Small-Gray {
  font-size: 14px;
  font-weight: normal;
  line-height: 1.71;
  color: rgba(29, 29, 29, 0.5);
}

.Form-Input-Message-Default {
  font-size: 12px;
  font-weight: normal;
  line-height: 1.33;
  color: var(--black);
}

.Form-Input-Message {
  font-size: 12px;
  font-weight: normal;
  line-height: 1.33;
  color: #fe6073;
}

.Tabs-Primary {
  font-size: 10px;
  font-weight: normal;
  text-align: center;
  color: var(--primary);
}

.Form-Input-Placeholder-small {
  font-size: 10px;
  font-weight: normal;
  color: #979797;
}
