head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel="stylesheet" href="./index.css")
include ../../components/header/header
include ../../components/features/features
include ../../components/call-to-action/call-to-action
include ../../components/our-work/our-work
include ../../components/testimonials/testimonials
include ../../components/contacts/contacts
include ../../components/get-notified/get-notified
include ../../components/footer/footer
script.
    const navToggleButton = document.querySelector('.nav-toggle');
    const mobileNavigation = document.querySelector('nav');

    function navToggleClick() {
        if (mobileNavigation.classList.contains('open')) {
            mobileNavigation.classList.remove('open');
        } else {
            mobileNavigation.classList.add('open');
        }
    }

    navToggleButton.onclick = navToggleClick;


