.product
    .container
        h1 Get notified about new
            br
            | amazing products
        p Lorem Ipsum is simply dummy text of the printing and typesetting industry.
            br
            | It has been the industry's standard dummy text ever since.
        .btn
            input(type="text" placeholder="E-mail")
            button
                img(src="../../assets/img/arrow.svg")
