header
    .container
        include ../../components/nav/nav

    .container.grid
        .side
            button BUTTON
            p + 515 243 3273

        .img
            img(src="../../assets/img/header.svg")

        .content
            h1 Future creative agency
            p Corporate social responsibility policymaker inclusion,
                br
                | resist; compassion mass incarceration correlation white
                br
                | paper.
            button button

        .details
            p Do you want to know more details?
            button
                img(src="../../assets/img/arrow.svg")
