@import "../../assets/scss/mixin";
header {
  background-image: url("../../assets/img/mask.svg");
  background-repeat: no-repeat;
  background-position: 0 0;

  .side {
    @include side();
  }

  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 90px;
    position: relative;

    > .img {
      display: flex;
      justify-content: flex-end;
      align-items: center;
    }

    .content {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;

      h1 {
        line-height: 40px;
      }
    }

    .details {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      margin: 120px 0;

      p {
        font-size: 14px;
        line-height: 36px;
        color: var(--secondary);
      }

      button {
        border: none;
        padding: 0;
        margin-left: 7px;
      }
    }
  }
}
