.features
    .container
        h1 Features Of Bielefeld
        p There are a number of features that make RandomText a little different from other Lorem Ipsum dummy text generators you
            br
            | may find around the web

        .content
            .img
                img(src="../../assets/img/picture.svg")
            .admin
                h2
                    div 1
                    | AWESOME FEATURE
                h3 Powerfull Admin
                p What is portfolio template in the page attributes Default and full width templates
                    br
                    | are self-explanatory, and I have figured out the Showcase Template, but am unable
                    br
                    | to determine what a Portfolio Template is.
                button.primary Learn more
        .content
            .admin
                h2
                    div 2
                    | AWESOME FEATURE
                h3 100% Responsive
                p What is portfolio template in the page attributes Default and full width templates
                    br
                    | are self-explanatory, and I have figured out the Showcase Template, but am unable
                    br
                    | to determine what a Portfolio Template is.
                button.primary Learn more
            .img
                img(src="../../assets/img/responsive.svg")
        .content
            .img
                img(src="../../assets/img/support.svg")
            .admin
                h2
                    div 3
                    | AWESOME FEATURE
                h3 The Best Support
                p What is portfolio template in the page attributes Default and full width templates
                    br
                    | are self-explanatory, and I have figured out the Showcase Template, but am unable
                    br
                    | to determine what a Portfolio Template is.
                button.primary Learn more
