.work.container
    h1 Our Work
    p There are a number of features that make RandomText a little different from other Lorem Ipsum dummy text generators you may
        br
        | find around the web
    .btn
        button Typography
        button Branding
        button.roze Illustration
    .content
        .main
            h3 Lorem Ipsum is simply
                br
                | dummy text
            p Corporate social responsibility policymaker inclusion, resist;
                br
                | compassion mass incarceration correlation white paper.
            button
                img(src="../../assets/img/arrow.svg")
        img(src="../../assets/img/bitmap.svg")
        img(src="../../assets/img/comminication.svg")
        img(src="../../assets/img/3.svg")
