.footer
    .container
        img(src="../../assets/img/chargewp_logo.svg")
        .company
            p Company
            ul
                li
                    a Works
                li
                    a Releases Mission
                li
                    a Strategy
        .learn
            p Learn More
            ul
                li
                    a Support Developers
                li
                    a Customer Service
                li
                    a Ger Started Guide
        .follow
            p Follow Us
            .socials
                a
                    img(src="../../assets/img/twitter.svg")
                a
                    img(src="../../assets/img/fb-footer.svg")
                a
                    img(src="../../assets/img/in-footer.svg")
                a
                    img(src="../../assets/img/inst-footer.svg")
            .copyright © 2019 Charge.wp

