.call
    .container
        h1 Ready to get started?
        p Lorem Ipsum is simply dummy text of the printing and typesetting industry.
            br
            | It has been the industry's standard dummy text ever since.
        .choose
            span Choose you option
            button.roze BUTTON
            button.primary BUTTON

