.testimonials
    .container
        h1 Leave your review here
        p Corporate social responsibility policymaker inclusion, resist compassion mass incarceration
            br
            | correlation white paper.


        .main
            img(src="../../assets/img/shape.svg")
            .content
                h2 - incredible company with great taste
                p Corporate social responsibility policymaker inclusion, resist;
                    br
                    | compassion mass incarceration correlation white paper
                    br
                    | Program area energize optimism radical shared
                    br
                    | value policymaker milestones.
                button
                    img(src="../../assets/img/arrow-roze.svg")
            .mobile
                h3
                    img(src="../../assets/img/man.svg")
                    | Mollie Jennings
                p Lorem Ipsum is simply dummy text of the printing and
                    br
                    | typesetting industry. It has been the industry's standard dummy
                    br
                    | text ever since.
