@import "../../assets/scss/mixin";

nav {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-top: 59px;

  @include mobile {
    padding-top: 20px;
  }

  button {
    padding: 0;
    margin: 0 20px;
    border: none;
    background-color: transparent;

    &:last-child {
      margin-right: 0;
    }
  }

  .content {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    ul {
      list-style: none;
      display: flex;

      @include mobile {
        display: none;
      }

      li {
        padding: 0 20px;

        &:first-child {
          color: var(--primary);
        }

        a {
          font-size: 12px;
          line-height: 15px;
          letter-spacing: 1px;
        }
      }
    }
  }
}
