nav
    div
    .content
        ul
            li
                a Stories
            li
                a Company
            li
                a About
            li
                a Contact

        button
            img(src="../../assets/img/search.svg")

        button
            img(src="../../assets/img/menu-icon.svg")
