.contact
    .container
        h1 Our contact
        p Corporate social responsibility policymaker inclusion, resist compassion
        input(type="text" placeholder="Login" )
        input(type="text" placeholder="E-mail")
        input(type="text" placeholder="Phone")
        textarea(placeholder="Your Message")
        button.roze button

        .side
            p + 515 243 3273
            button.primary BUTTON

        .socials
            a
                img(src="../../assets/img/twitter.svg")
            a
                img(src="../../assets/img/facebook.svg")
            a
                img(src="../../assets/img/link.svg")
            a
                img(src="../../assets/img/inst.svg")
